body {
    box-sizing: content-box;
   background-image: url("./Imagenes/istockphoto-1284016425-170667a.jpg");
    background-size:auto
    
}

.container{
    color: rgb(219, 219, 200);
}


h1{
    color: rgba(219, 219, 200, 0.74);
}







.section1{
	background-image: url("./ImageneS/que-son-los-derechos-civiles.webp");
  	height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30px;
	margin:50px;
}
.section1 p{
	background-color: #ddc4f550;
	color:#1b0a2b;
	line-height: 2;
}
.section2{
	background-image: url("./Imagenes/contrato.jpg");
  	height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30px;
	margin:50px;
}
.section2 p{
	background-color: #ddc4f550;
	color:#1b0a2b;
	line-height: 2;
}
.section3{
	background-image: url("./Imagenes/descarga.jpg");
  	height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30px;
	margin:50px;
}

.unas{
	text-align: center;
}




h3 {
    color: white;
}

h4{
    color: white;
}

div{
    color: white;
}

p{
    color: black
}

h5{
    color: white;
}

.contacto{
    text-align: center;

}