body{
    background-image: url("./Imagenes/istockphoto-1284016425-170667a.jpg");
    background-size:auto
    
}

.container{
    color: rgb(219, 219, 200);
}



h1{
    color: rgba(219, 219, 200, 0.74);
}

h3{
    color: rgb(219, 219, 200, 0.74);
}

h4{
    color: rgb(219, 219, 200, 0.74)
}

div{
    color: rgb(219, 219, 200, 0.74 )
}

p{
    color: black
}

h5{
    color: black
}